/* Estilos específicos para la página de Sobre Nosotros */
body {
    background-color: #5897df;  /* Fondo claro y neutro */
    font-family: 'Poppins', sans-serif; /* Fuente para el texto general */
}

nav {
    background-color: #333;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
}

nav ul li a {
    color: rgb(238, 232, 232);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #4CAF50;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: url('background.jpg') no-repeat center center/cover;
    color: white;
}

header img {
    max-width: 250px;
}

.main-content h1 {
    font-family: 'Merriweather', serif; /* Cambié la fuente de h1 a Merriweather */
    font-size: 48px;
    margin-top: 20px;
}

.main-content p {
    font-size: 20px;
    font-weight: 300;
}

.info-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info-box h2 {
    font-family: 'Merriweather', serif; /* Cambié la fuente de h2 a Merriweather */
    font-size: 28px;
    color: #333;
}

.info-box p {
    font-size: 18px;
    color: #666;
    font-weight: 300;
}

